<div class="row">

  <div class="col-md-10">
    <mat-card>
      <div class="example-container2">
        <h2>Selected Fields</h2>
        <div id="draged" (drop)="dropItem($event)" (dragover)="allowDrop($event)">
          <ul *ngFor="let item of selectedFields">
            <li class="d-flex ">
              <span class="pt-1 pb-1" style="text-transform: capitalize;"> {{item}} </span>
              <mat-icon style="margin-left: 1rem;cursor: pointer;" (click)="RemoveItemFromSectedList(item)"> cancel
              </mat-icon>
            </li>
          </ul>
        </div>


      </div>



      <div class="d-flex justify-content-end py-3">
        <button mat-flat-button color="primary" (click)="GenerateReport()"> Generate Report</button>
      </div>
    </mat-card>




    <!-- table area -->
    <div *ngIf="isTableShow" class="mt-md-5">

      <mat-card>
        <h2>Report Information</h2>
        <div class="d-flex justify-content-between mt-md5">
          <div>
            <div class="form-group mb-3">
              <input type="text" [(ngModel)]="searchText" class="form-control" name="search" id="seacrch"
                placeholder="Global Search" autocomplete="off">
            </div>
          </div>
          <div>


            <button mat-flat-button color="primary" (click)="exportexcel()">
              <mat-icon> cloud_download</mat-icon>
            </button>

          </div>

        </div>

        <table class="table table-bordered " id="reportTable">
          <thead>
            <tr>
              <th style="text-transform: capitalize;background-color: #3f51b5;color: white;"
                *ngFor="let item of tableCols" scope="col">{{item}}</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of tableData | filter:searchText ">
              <td *ngFor="let name of tableCols;">
                <div *ngIf="name==='EmployeName' ">
                  {{data.EmployeName}}
                </div>
                <div *ngIf="name==='EmployeDescription' ">
                  {{data.EmployeDescription}}
                </div>


                <div *ngIf="name==='CityName' ">
                  {{data.CityName}}
                </div>

                <div *ngIf="name==='DepartmentName' ">
                  {{data.DepartmentName}}
                </div>


                <div *ngIf="name==='CountryName' ">
                  {{data.CountryName}}
                </div>

                <div *ngIf="name==='EmployeId' ">
                  {{data.EmployeId}}
                </div>

                <div *ngIf="name==='CountryId' ">
                  {{data.CountryId}}
                </div>

                <div *ngIf="name==='CityId' ">
                  {{data.CityId}}
                </div>

                <div *ngIf="name==='DepartmentId' ">
                  {{data.DepartmentId}}
                </div>

                <div *ngIf="name==='JoinDate' ">
                  {{data.JoinDate }}
                </div>

              </td>
            </tr>


          </tbody>
        </table>
      </mat-card>

    </div>

  </div>
  <div class="col-md-2">

    <mat-card>
      <h2> Fields </h2>
      <ul class="treeItem" id="treeUl" *ngFor="let item of fiedslist">
        <li>
          <span class="fa fa-caret-right colText " style="width: 100%;" (click)="DisplayTreeView($event)"> &nbsp;{{item.text}} </span>
          <ul class="nested" (drop)="dropItem($event ,item)" (dragover)="allowDrop($event)">
            <li draggable="true" (dragstart)="drag($event)" [id]="cols" *ngFor="let cols of item.nodes">
              {{cols}}

            </li>

          </ul>

        </li>

      </ul>

    </mat-card>
  </div>
</div>
