table {
  width: 100%;
}



.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  


 /* show horizontal */




 .example-list2 {
    width: 100%;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box2 {
    padding: 20px 10px;
    border-right: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    flex-grow: 1;
    flex-basis: 0;
  }
  
 
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);


}




/* ul styling make tree */
#treeUl{
  margin: 0;
  padding: 0;
}
#treeUl , #treeUl ul {
  list-style-type: none;
}


.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  color: black;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);  
}


.treeItem{

  margin-bottom: 1rem !important;
  list-style: none;
  padding: 0.6rem !important;
  color: white;
  background: #3f51b5;
  border-radius: 4px;
  box-sizing: border-box;
  
 
    
}

.treeItem .colText{
  font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}

.nested {
  display: none;
  padding-left: 0;
}

.nested li{
  text-transform:capitalize;
  border: 1px solid white;
    padding: 0.5rem;
    border-radius: 0px;
    margin: 0.6rem 0;
    cursor: move;
   
  
}

.Treeactive {
  display: block !important;
}


#draged {
  width: 100%;
  height: 20vh;
  overflow-y: scroll;
  border: 1px solid lightgray;
}



.iconBtn{

  padding: 1rem;
  color: white;
}

#draged ul {
  padding-left: 0;
    color: white;
    margin-bottom: 0;
    width: auto; 
    display: inline-block;
}
#draged ul li {
  background: #3f51b5;
  margin: 0.3rem;
  margin-right: 0;
  padding: 0.3rem;
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  
  
}


#whereArea{
  width: 100%;
  height: 35vh;
  border: 1px solid lightgray;
  overflow-y: scroll;
}
#whereArea .whereMain{
    color: white;
    
    display: block;
    margin: 0.5rem 1rem;
}

#whereArea .whereMain .whereList{
  display: table;
  table-layout: fixed;
  background: #3f51b5;
  padding: 0.4rem 0px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  
}

#whereArea .whereMain .whereList .item {
  display: table-cell;
 text-align: center;

 
}